.App {
  text-align: center;
}

.matrix {
  margin-top: 20px;
}

.row {
  display: block;
}

.cell {
  display: inline-block;
  font-family: monospace;
  font-size: 24px;
  padding: 18px;
  border: 4px solid #000;
  width: 40px;
  height: 40px;
}

.cell.active {
  background: #aaa;
}

.cell.hamming {
  border: 4px solid #4a6;
}